  <!-- <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
  <footer>
    <div class="container" id="rodape">
      <div>
        <a href="{{URL}}" title="Inicial"><img
            src="{{URL}}/includes/files_default/logo.png" alt="logo-site"></a>
      </div>

      <div class="identificacao" id="identificacao">
      </div>

      <div class="social">
        Siga-nos
        <a href="https://www.facebook.com/imobibrasil" target="_blank" title="Facebook"><i class="fa fa-facebook"
            aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/imobibrasilbr" target="_blank" title="YouTube"><i class="fa fa-youtube"
            aria-hidden="true"></i></a>
        <a href="https://www.imobibrasil.com.br/blog/" target="_blank" title="Blog"><i class="fa fa-pencil-square"
            aria-hidden="true"></i></a>

      </div>

    </div>
  </footer>

  <script type="text/javascript" src="{{URL}}/includes/files_default/script.js"></script> -->