<style>
  .menu-add-modulo {
    background-color: #EFF3F5;
    font-size: 11px;
    display: none;
  }

  .tabCodigo {
    overflow: hidden;
    height: 65px;
    transition: all 0.3s ease;
  }

  .diminuir {
    display: none;
  }
</style>

<script src="{{URL}}/includes/bootstrap-4.6.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

<header>
  <div class="container" id="ct_topo1">
    <div class="logo">
      <a href="#" title="Inicial"><img src="{{URL}}/includes/files_default/logo.png" alt="imobibrasil"></a>
    </div>

    <div class="menu">
      <div id="cssmenu">
        <div id="menu-button"><i class="fa fa-bars" aria-hidden="true"></i></div>


        <ul>
          <li class="active has-sub" id="menuItem_conf"><a href="#"><span>Configurações</span></a>
            <ul>
              <li><a href="#">Configurações
                  Gerais</a></li>
              <li><a href="#">Busca
                  Rápida</a></li>
              <li><a href="#">Usuários
                  Adicionais</a></li>
              <li><a href="#">Senha Principal</a></li>
            </ul>
          </li>

          <li class="active has-sub" id="menuItem_design"><a href="#"><span>Design</span></a>
            <ul>
              <li><a href="#">Modelos</a></li>
              <li><a href="#">Logotipo e
                  Banners</a></li>
            </ul>
          </li>

          <li class="active has-sub" id="menuItem_CRM"><a href="#"><span>CRM
                Imóveis</span></a>
            <ul>
              <li><a href="#">Imóveis: Incluir</a>
              </li>
              <li><a href="#">Imóveis: Listar</a></li>
              <li><a href="#">Clientes</a></li>
              <li><a href="#">Imóveis
                  Compatíveis</a></li>
              <li><a href="#">Negócios</a></li>
            </ul>
          </li>

          <li class="active has-sub" id="menuItem_Modulos"><a href="#"><span>Módulos</span></a>
            <ul>
              <li><a href="#">Agenda</a></li>
              <li><a href="#">área Privada</a></li>
              <li><a href="#">Atendimento
                  On-line</a></li>
              <li><a href="#">Bairros que
                  Amamos</a></li>
              <li><a href="#">Catálogo de
                  Imáveis</a></li>
              <li><a href="#">Documentos</a>
              </li>
              <li><a href="#">Formulários</a>
              </li>
              <li><a href="#">Gerar Contratos</a></li>
              <li><a href="#">HotSite</a></li>
              <li><a href="https://admin01.imobibrasil.net/imobiliarias/mod_newsletter_inicial.php">Newsletter</a>
              </li>
              <li><a href="#">Páginas Extras</a>
              </li>
              <li><a href="#">Social Pixel</a>
              </li>
              <li><a href="#">imoBR Negácios</a>
              </li>
              <li><a href="#">WhatsApp Lead</a>
              </li>
              <li><a href="#" class="menu-add-modulo">Adicionar Módulo</a></li>

            </ul>
          </li>

          <li class="active has-sub" id="menuItem_Relatorios"><a href="#"><span>Relatórios</span></a>
            <ul>
              <li><a href="#"><span>Indicadores</span></a>
              </li>
              <li><a href="#"><span>Imóveis</span></a>
              </li>
              <li><a href="#"><span>Clientes</span></a>
              </li>
            </ul>
          </li>


          <li class="active has-sub" id="menuItem_Msg"><a href="#" id="cssmenumsg"><span>Mensagens</span></a></li>

        </ul>
      </div>
    </div>
  </div>

</header>

<section class="sub-menu">
  <div class="container" id="ct_topo2">

    <div class="tp-submenu-partemenu">
      <div>
        <ul>
          <li><a href="#" target="_self">Inicial</a></li>
          <li><a href="#" target="_self">Suporte</a></li>
          <li><i class="fa fa-television" aria-hidden="true"></i> &nbsp;<a href="/imobiesiteexemplo-03"
              target="_blank"><span class="ct2_verSite">Visualizar</span> <span>Site</span></a></li>

          <li class="last"><i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp;<a href="#"
              title="Sair"><span>Sair</span></a></li>
        </ul>
      </div>


    </div>

    <div class="tp-submenu-persona">
      <div class="tp-submenu-persona_User">
        <a href="#" class="tp-submenu-persona-Link">

          <div class="tp-submenu-persona_User_Img">
            <i class="fa fa-user-circle tp-submenu-User-fa"></i>
          </div>
        </a>

        <div class="tp-submenu-persona_User_Text">
          <span>Super</span>
          <small>Administrador</small>
        </div>
      </div>
    </div>

    <script src="{{URL}}/includes/files_default/tooltip-balao.js" defer=""></script>
    <div class="tp-submenu-notificacao">
      <div class="tp-submenu-notificacao__box">
        <a class="tp-submenu-persona-Link">
          <div class="tp-submenu-persona_User_Img tp-bell-pulse">
            <i class="fa fa-bell-o tp-submenu-bell "></i>
          </div>
        </a>
      </div>


     


    </div>

    <!-- <link href="./ImobiBrasil_files/central-notificacoes-topo.css" type="text/css" rel="stylesheet">
      <script src="./ImobiBrasil_files/central-notificacoes-topo.js"></script> -->


  </div>
</section>